<h2>Lista de conteúdos</h2>
<br>
<div class="container">
    <br/>
    {{#each posts}}
        <div class="row">
            <h4>Dia: {{dataValues.dia_formed}}  Conteudo: {{dataValues.conteudo}}</h4>
            <h5>Turno: {{dataValues.turno}} Turma: {{dataValues.turma}}</h5>
            Detalhes do conteúdo:  {{dataValues.observacao}}
            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content={{dataValues.observacao}}>
                Popover on top
            </button>
            
        </div>
        <hr>        
    {{/each}}
</div>

<div style="float:left; margin-left: 3%;">
    <a href="/diariocnteudo"><button type="submit">Novo diario</button></a>
</div>

