<div class="container">
    <h2>Lista de usuarios</h2>      

    <form action="/usuarios/usuariolista_filtrado" method="POST">
        <div class="row">
            <br>
            <div class="col-1">
                <p>Turma:</p>
            </div>
            <div class="col-1">
                <select id="Turma" name="cmbTurma">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                </select>
            </div>
            <div class="col-1">
                <p>Turno</p>
            </div>

            <div class="col-2">
                <select id="turno" name="cmbTurno">
                    <option value='1'>Matutino</option>
                    <option value='2'>Vespertino</option>
                </select>
            </div>
            <div class="col-2">
                <button type="submit">Filtrar</button>
            </div>  
            <br>    
        </div>
    </form>
    <div class="col-2">
        <a href= "/usuarios/usuariolista" onclick="return confirm('Mostrar todos os usuarios?')"><button type="button">Limpar filtros</button></a>    
    </div>   

    <hr>
    <br/>
    {{#each posts}}
    <div class="row">
        <h4>Código: {{dataValues.id}} Nome: {{dataValues.nome}}</h4>
        <h5>Turno: {{dataValues.turno}} Turma: {{dataValues.turma}} Bairro: {{dataValues.bairro}}</h5>
        <a href= "/usuarios/deletar/{{id}}{{dataValues.id}}" onclick="return confirm('Tem certeza que deseja apagar este us=uario?')"><button>Deletar</button></a>    
    <hr>
    </div>
    {{/each}}
    </div>

<div class="md-5">
    <br>
    <hr>
    <p>Cadastro novo</p>    
    <a href="/usuarios/cadastrousuario"><button type="submit">Cadastrar usuario</button>
</div>
