<h2>Lista de conteúdos</h2>
<br>
<div class="container">
    <br/>

    <form action="/diarios/listardiario_filtro" method="POST">
        <div class="row">
            <br>
            <div class="col-1">
                <p>Turma:</p>
            </div>
            <div class="col-1">
                <select id="Turma" name="cmbTurma">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                </select>
            </div>
            <div class="col-1">
                <p>Turno</p>
            </div>

            <div class="col-2">
                <select id="turno" name="cmbTurno">
                    <option value='1'>Matutino</option>
                    <option value='2'>Vespertino</option>
                </select>
            </div>
            <div class="col-2">
                <button type="submit">Filtrar</button>
            </div>  
            <br> 
        </div>
    </form>

        <div class="col-2">
            <a href= "/diarios/listardiario" onclick="return confirm('Mostrar todos os diarios de classe?')"><button type="button">Limpar filtros</button></a>    
        </div>


    {{#each posts}}
        <div class="row">
            <h4>Dia: {{dataValues.dia}}  Conteudo: {{dataValues.conteudo}}</h4>
            <h5>Turno: {{dataValues.turno}} Turma: {{dataValues.turma}}</h5>                       
                            <!-- Botão ativa modal -->
                <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Detalhes do conteúdo:
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detalhes do Conteudo do dia {{dataValues.dia}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{dataValues.observacao}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
                    </div>
                    </div>
                </div>
        </div>
        <hr>        
    {{/each}}
</div>

<div style="float:left; margin-left: 3%;">
    <a href="/diarios/diariocnteudo"><button type="submit">Novo diario</button></a>
</div>

