<h2>Lista de chamadas</h2>
<br>
<div class="container">
    <br/>
    {{#each posts}}
        <div class="row">
            <h4>Dia: {{dataValues.dia_formed}}  Oficina: {{dataValues.oficina}}</h4>
            <h5>Turno: {{dataValues.turno}} Turma: {{dataValues.turma}}</h5>
            <a href= "/chamada/listar_usuarios_chamadas/{{dataValues.id}}"><button>Detalhar chamada</button></a>
        </div>
        <hr>        
    {{/each}}
</div>

<div style="float:left; margin-left: 3%;">
    <a href="/diariocnteudo"><button type="submit">Nova chamada</button></a>
</div>