<h2>Mapa dos computadores da sala</h2>

<br>
<div class="container">
    <h3>Dividir cada usuario a cada computador de acordo com o mapa</h3>

    <hr>
    <br/>
    <form action="/mapas/listar_usuarios_mapas" method="POST">

        <div class="row">        
            <h3>Horário das oficinas</h3>
            <p>Turma:</p>
        </div>  
        <div class="row">      
            <div class="col-2">           
                    <select id="Turma" name="cmbTurma">

                        {{#each mapa}}
                            <div class="row">
                                <option value={{dataValues.turma}}>{{dataValues.turma}}</option>
                            <hr>
                            </div>
                        {{/each}}

                    </select>
                
            </div>

            <div class="col-2">           
                <select id="Turno" name="cmbTurno">
                    <option value='1'>Matutino</option>
                    <option value='2'>Vespertino</option>
                </select>                
            </div>

            <div class="col-6">
                <button type="submit">Definir sala</button>
            </div>
            <div class="col-2">
                <a href="/mapas/editar/"+{{idmapa}}><button type="button">Editar este mapa: {{idmapa}}</button></a>
            </div>
        </div>
        
    </form>

    <table class="table table-bordered table-hover" id="tabelachamada">
        <thead>
            <caption>Computadores</caption>
            <th>PC01</th>
            <th>PC02</th>
            <th>PC03</th>
            <th>PC04</th>
            <th>PC05</th>
            <th>PC06</th>
            <th>PC07</th>
            <th>PC08</th>
            <th>PC09</th>
            <th>PC10</th>
            <th>PC11</th>
            <th>PC12</th>
        </thead>
        <tbody>
                <tr>
                    <td>Usuário</td>                                        
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                </tr>        
                <tr>

                {{#each urss}}
                <td>                    
                    <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbTurno">
                        <option value={{id}}>{{nome}}</option>
                    </select>  
                </td>
                {{/each}}

                </tr>
        </tbody>
    </table>    
    <br>
    <br>
    
</div>

<div style="float:left; margin-left: 3%;">    
    <button type="submit" onClick="printPage()">Imprimir a tabela acima</button>
</div>

<br/>
<br/>
<hr/>
<div >    
    <h3>Autoria e desenvolvimento</h3> 
    <h4>Ricardo Bavaresco</h>
</div>



