<h2>Mapa dos computadores da sala</h2>

<br>
<div class="container">
    <form action="/mapas/confirmar_editacao/{{mapa.id}}" method="POST">

        <hr>
        <br/>
        <div class="row">        
            <h2>Turma: {{mapa.id}}</h2>
        </div>  

        <table class="table table-bordered table-hover" id="tabelachamada">
            <thead>
                <caption>Computadores</caption>
                <th>PC01</th>
                <th>PC02</th>
                <th>PC03</th>
                <th>PC04</th>
                <th>PC05</th>
                <th>PC06</th>
                <th>PC07</th>
                <th>PC08</th>
                <th>PC09</th>
                <th>PC10</th>
                <th>PC11</th>
                <th>PC12</th>
            </thead>
            <tbody>
                <tr>
                    <td>Usuário</td>                                        
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                    <td>Usuário</td>                    
                </tr>        
                <tr>
                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc1">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc2">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc3">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc4">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc5">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc6">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc7">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc8">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc9">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc10">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc11">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                    <td>                    
                        <select style="width: 105px; font-size: 14px;" id="Turno" name="cmbUsuarioPc12">
                            {{#each usuar}}                                    
                                <option value={{id}}>{{nome}}</option>
                            {{/each}}
                        </select>                      
                    </td>

                </tr>
            </tbody>
        </table>        
        <div style="float:right; margin-right: 3%;">    
            <button type="submit">Confirmar mapa: {{mapa.id}}</button></a>
        </div>
    </form>
    <br>
    <br>
    
</div>

<div style="float:left;">    
    <button type="submit" onClick="printPage()">Imprimir a tabela acima</button>
</div>

<br/>
<br/>
<hr/>
<div >    
    <h3>Autoria e desenvolvimento</h3> 
    <h4>Ricardo Bavaresco</h>
</div>



