<h2>Presenças e faltas</h2>
<form  action="/darpresenca" method="POST">
    <br>
    <div class="container">
        <br>
        <br>
        <h2>Lista de usuarios</h2>          
        <hr>
        <br/>
        {{#each posts}}
        <div class="row">
            <h4>Nome: {{nome}}</h4>
            <h5>Turno: {{turno}} Turma: {{turma}} Bairro: {{bairro}}</h5>
{{!-- //            <a href= "/presenca/{{id}}"><button>Presente</button></a> --}}
            <div class="col-3">
                    <h4>Presença</h4>
            </div>
            <div class="col-3">
                <input type="checkbox" name="celcius" id={{id}} checked="true">    
            </div>
            </div>
            <hr>        
        {{/each}}
    </div>

    <div style="float:left; margin-left: 3%;">
        <button type="submit">Nova chamada</button>
    </div>
</form>
